
<div class="list-group">
    <!-- loop over blog posts and render them -->
    <% posts.forEach((post) => { %>
      <a href="/posts/<%= post._id%>" >show</a>
        <h4><%= post.title %></h4>
        <p><%= post.body %></p>
        <p><%= post.author_id %></p>
        <p><%= post.author_name %></p>
    <% }) %>
  </div>